@if (Sample)
{
    <div class="email-item @GetEmailClass() pure-g">
        <div class="pure-u">
            <img width="64" height="64" alt="Mark's Mitra's avatar" class="email-avatar" 
                 src="https://media-exp1.licdn.com/dms/image/C4D03AQEfzLzqTG3lDA/profile-displayphoto-shrink_800_800/0/1605529199500?e=1642636800&amp;v=beta&amp;t=sj6iwCX7Aq1AUubB4iDd3FnZlQdDm0KfxvR5sfFJDpY">
        </div>

        <div class="pure-u-3-4">
            <h5 class="email-name">@Name</h5>
            <h4 class="email-subject">@Title</h4>
            <p class="email-desc">
                @SampleContent ...
            </p>
        </div>
    </div>
}
else
{
    <div class="email-content">
        <div class="email-content-header pure-g">
            <div class="pure-u-1-2">
                <h1 class="email-content-title">@Title</h1>
                <p class="email-content-subtitle">
                    From <a>@Name</a> at <span>3:56pm, April 3, 2012</span>
                </p>
            </div>

            <div class="email-content-controls pure-u-1-2">
                <button class="secondary-button pure-button">Reply</button>
                <button class="secondary-button pure-button">Forward</button>
                <button class="secondary-button pure-button">Move to</button>
            </div>
        </div>

        <div class="email-content-body">
            @SampleContent
            @FullContent
        </div>
    </div>
}

@code{
    [Parameter] public string Title { get; set; }
    [Parameter] public bool Sample { get; set; }
    [Parameter] public string Name { get; set; }
    
    [Parameter] public string? Class { get; set; }
    
    [Parameter] public RenderFragment FullContent { get; set; }
    [Parameter] public RenderFragment SampleContent { get; set; }

    private string GetEmailClass() => string.IsNullOrEmpty(Class) ? "email-item" : Class;
}